{% load static %}

<style>
.category-nav .category-list>li>a {
  display: block;
  padding: 5px!important;
  text-transform: uppercase;
  border-radius: 12px;
}
.dropdown.side-dropdown>.custom-menu {
    border-left: 2px solid #E10074;
    left: 100%;
    top: 0;
    width: auto;
}
.category-nav .category-header {background: #F2CC63;}

.header-cart .header-btns-icon .qty {background: #E10074;}
</style>

<!-- NAVIGATION -->
	<div id="navigation" style="background-color:#FF530D!important; border-radius: 50px!important;">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<!--### This Condetion for page hide and show  ### -->
				<div class="category-nav">
					<ul class="category-list">
					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav" style="font-size:110%;">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="/">Home</a></li>
						<li><a href="">List Manga</a></li>
						<li><a href="">About/immortalsunscans</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
	</div>